[Unit]
#服务描述
Description=Mdkmed ipfsd Service

[Service]
#后台运行的形式
Type=forking
#启动命令
ExecStart=/usr/ipfs/start_ipfs.sh start
#重启命令
ExecReload=/usr/ipfs/restart_ipfs.sh
#停止命令
ExecStop=/usr/ipfs/stop_ipfs.sh stop
#启动失败后执行重启命令
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
